body {
    border: 1px solid red;

    .bg {
        display: inline-block;
        width: 200px;
        height: 200px;
        border: 1px solid blue;
        background-image: url("~/assets/images/common/thumb_d_1174C8BDD2F59CCB55AEA36F4B30F24B.jpg");
    }
}